*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
.notif{
	height: 60px;
	background: #000;
	color:#fff;
	text-align: center;
	padding-top: 18px;
	font-size: 22px;
	font-weight: lighter;
}
.active{
	color:#fff;
	text-decoration: none;
	border-bottom: 2px solid #fff;
}
header{
	min-height: 600px;
}
.clearfix{
	content: '';
	display: table;
	clear: both;
}
.navigation{
	width: 100%;
}
.logo{
	float: left;
	font-size: 40px;
	font-weight: bold;
	margin: 30px 0 0 40px;
}
.contact{
	float: right;
	margin:30px 40px 0 0;
}
.contact li{
	display: inline-block;
	font-size: 40px;
	padding: 10px;
}
.contact a{
	text-decoration: none;
	color:#000;
	margin-left: 20px;
	display: block;
	font-weight: bold;
}
.title{
	text-align: center;
	font-size: 40px;
	width: 60%;
	margin:40px auto;
}
.arrow{
	width: 30px;
	transform: rotate(90deg);
	margin: auto;
	cursor: pointer;
}
section{
	margin-bottom: 50px;
}
section img{
	width: 100%;
}
span{
	font-weight: bold;
	font-size: 40px;
	margin-left: 40px;
	float: left;
	margin-top: 30px;
}
.right-arrow img{
	width: 50px;
	float: right;
	margin-right: 20px;
	cursor: pointer;
	margin-top: 30px;
}
.gray-block{
	height: 100px;
	width: 50%;
	margin: auto;
	background: #EEE;
}
.black-box{
	height: 600px;
	width: 100%;
	margin: auto;
	background: #000;
	color:#fff;
	margin-top: 5px;
}
.main-text{
	font-size: 100px;
	padding-left: 40px;
	height: 500px;
}
footer{
	height: 100px;
}
.privacy-policy{
	text-align: center;
	margin: auto;
	font-size: 20px;
	font-weight: bold;
}
.email{
	float: left;
	width: 300px;
	height: 100%;
	font-size:20px;
	font-weight: bold;
	margin:20px 0 0 30px;
}
.language{
	float: right;
	width: 300px;
	height: 100%;
	margin-top: 20px;
}
.footer-bottom{
	width: 100%;
}
.language li{
	list-style: none;
	display: inline-block;
	font-size: 25px;
	margin-left: 10px;
}
.language a{
	text-decoration: none;
	color:#000;
}
.language a:hover{
	border-bottom: 1px solid #000;
}